.container{
    background-color: rgb(9, 212, 9) transparent;
    display: flex;
    border-radius: 150px;
    margin: 2px;
    position: fixed;
    top:35px;
    left:30px;
    width: 1280px;
    height: 100px;
    z-index: 7px;
}

.active{
    color: yellow;
};

